#battlefield-container {
    display: flex;
    flex: auto;
}

#players-container{
    margin: 1em;
    padding: 1em;
}

ul {
    margin: 0;
    padding: 0;
    text-align: left;
}

li {
    width: 100px;
}

#canvas-container {
    margin: 1em;
}

canvas {
    border: 1px solid black;
    display: block;
}